@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar{
    display: flex;
    align-items: center;
    
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px black;
    margin-bottom: 1px;
    background: rgba(221, 221, 221, 0.8);
    font-family:"Lobster" ;
    font-size: larger;
}
.nav-logo{
    width: 50px;
}
.nav-profile{
    width: 75px;
}
@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    } 
    .nav-logo{
        width: 150px;
    }
    .nav-profile{
        width: 60px;
    }
}