@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px -2px black;
    padding: 15px 70px;
    background-color: rgba(221, 221, 221, 0.8);
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 45px;
}
  
.nav-logo p{
    color: #171717;
    font-size: 28px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color:#000000;
}

.nav-menu li a{
    color:#000000;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff7675;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 30px;
}




.nav-login-cart button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #ff7675;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  .nav-login-cart button:hover {
    background: #c4e201;
  }
  
  .nav-login-cart button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  .nav-login-cart button:hover svg {
    transform: translateX(5px);
  }
  
  .nav-login-cart button:active {
    transform: scale(0.95);
  }

  .title{
    font-family: "Lobster", sans-serif;
  }
  
  















.nav-login-cart img{
    width: 35px;
}


.nav-cart-count{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -40px;
    font-size: 14px;
    background: #ff7675;
    color: white;
}
.nav-dropdown{
    display: none;
}

/* -------- media query---------- */
@media(max-width:900px){
    .nav{
        padding: 15px 40px;
    }
    .nav-menu{
        gap: 15px;
    }
}

@media(max-width:750px){
    .nav{
        padding: 15px 20px;
    }
    .nav-login-cart{
        gap: 15px;
    }
    .nav-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    } 
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 60px;
        left: 0;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
    .nav-cart-count{
        margin-left: -25px;
    }
}

@media(max-width:500px){
    .nav{
        padding: 15px 15px;
    }

    .nav-logo img{
        width: 30px;
    }
    .nav-logo p{
        font-size: 18px;
    }
    .nav-menu-visible{
        height: 70px;
        top: 60px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    } 
    .nav-login-cart{
        gap: 10px;
    }
}
